@{
    
}
<div class="jumbotron">
    <h1>RunnerApp - Specialiseringsprojekt</h1>
    <p class="lead">Velkommen til RunnerApp, et online system, hvor du kan tracke din løbetur, dele den med andre og finde dem igen senere.
    Hent appen på App Store.
    </p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg glyphicon glyphicon-download">Download</a></p>
</div>


